* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#hero-section {
  background-image: url(https://img.freepik.com/free-vector/empty-sky-nature-scene-park_1308-48471.jpg?w=826&t=st=1724942368~exp=1724942968~hmac=412a49350fb4c9ee49cbc69ed86ab7cbcd43766ba6e1df0d11bc7c3d8a24a784);
  height: 100%;
  width: 100%;
  display: flex;
}
.left {
  margin: 2em;
  width: 70%;
  height: 40%;
  border: 1px solid #000;
  border-radius: 10px;
}
.right {
  margin: 2em 2em 2em 0;
  width: 20%;
  height: 40%;
  border: 1px solid #000;
  border-radius: 10px;
  overflow: hidden;
}
.right img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  #hero-section {
    background-image: url(https://img.freepik.com/free-vector/cute-colorful-illustrated-star-frame-beige-background_53876-115059.jpg?w=360&t=st=1724942478~exp=1724943078~hmac=51f96343dd489be2fb5204f27575d3a449d2eab6005171170aba153bd26a7f65);
    height: fit-content;
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }
  .right {
    margin-left: 2em;
    height: 40vh;
    width: 80%;
    overflow: hidden;
  }
}
